@font-face {
  font-family: "Norse Bold";
  src: url("ShareTechMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Norse Bold";
}
body {
  display: flex;
  margin-top: 170px;
  padding: 0;
  background: black;
  background-image: radial-gradient(rgb(39, 39, 39) 1px, transparent 0);
  background-size: 3px 30px;

  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#loading-display {
  height: 90px;
  aspect-ratio: 1;
  display: grid;
  background:
    radial-gradient(farthest-side, #000 15%, #0000 18%),
    radial-gradient(50% 100% at 50% 160%, #fff 95%, #0000) top/100% 50%,
    radial-gradient(50% 100% at 50% -60%, #fff 95%, #0000) bottom/100% 50%;
  background-repeat: no-repeat;
}
#loading-display:before {
  content: "";
  background: inherit;
  opacity: 0.6;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: scale(3);
    opacity: 0;
  }
}

#weather-icon {
  height: 90px;
  width: 90px;
}

#first-two {
  display: flex;
  gap: 60px;
}

#temperature-and-icon {
  display: flex;
  gap: 10px;
}

#each-display {
  border: 2px solid white;
  display: grid;
  gap: 10px;
  width: fit-content;
  padding: 10px;
  animation: slideUp 1s ease forwards;
  animation-fill-mode: backwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#temperature-display {
  color: yellow;
  font-size: 80px;
}
#feelslike-display {
  color: rgb(255, 255, 171);
  font-size: 35px;
}
#conditions-and-date-and-timezone {
  font-size: 35px;
}

#description-display {
  font-size: 23px;
}

#labelandtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#bothradios {
  display: flex;
  font-size: 30px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#fahside,
#celsiusside {
  display: flex;
  gap: 6px;
}

#search-button {
  cursor: pointer;
  height: 50px;
  width: 170px;
  font-size: 21px;
  border-radius: 20px;
}

#search-button:hover {
  background-color: #fff;
}

#dothething {
  font-size: 35px;
}

#user-input {
  width: 900px;
  padding: 7px;
  font-size: 18px;
  outline: 0;
}

#weather-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

#display-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"] {
  width: 2em;
  height: 2rem;
  accent-color: green;
}

#error-message {
  font-size: 20px;
}
